SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
LLM_MODEL=deepseek-ai/DeepSeek-V4-Flash
EMBEDDING_MODEL=BAAI/bge-m3
FASTAPI_PORT=8000
FLASK_PORT=5000
COMPANY_DIR=./company
TASK_TARGET_URLS=https://quote.eastmoney.com/sz000858.html,https://quote.eastmoney.com/sz300810.html
